/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans:wght@400;600;700&display=swap');

/*-------------------------
Basic and utility css
----------------------------*/
:root {
    --primary-color: #E02C6D;
    --primary-dark: #b81853;
    --primary-light: #f82573;
    --text-color: #3A3A3A;
    --dark-bg: #0A0826;
    --text-white: #e0e0e0;
  }
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;

}
h1, h2, h3, h4,h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 1.4;
}

.container {
    display: flex;
    justify-content: center;
}
.flex-container {
    display: flex;
    width: 1170px;
}
.justify-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}
.width-50 {
    display: flex;
    align-items: center;
    width: 50%;
}
.btn-link {
    padding: 10px 35px;
    background-color: var(--primary-color);
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    display: inline-block;
    border-radius: 40px;
    transition: all .3s;
}
.btn-link .fa-arrow-right {
    margin-left: 5px;
}
.btn-link:hover {
    background-color: var(--primary-dark);
}
.btn-link:hover .fa-arrow-right {
    margin-left: 15px;
}




/* Start header css */
.logo-text {
    font-size: 20px;
}
.header-wraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.header-menu {
    display: flex;
    align-items: center;
}
.header-menu ul {
    display: flex;
    margin: 0;
    padding: 0;
}
.header-menu li {
    list-style: none;
    margin-right: 5px;
    padding: 8px;
}
.header-menu li a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
    transition: all .3s ease-in;
}
.header-menu li:hover a {
    color: var(--primary-color);
    transition: all .3s ease-in;
}

/* End header css */
/* Start banner css */
.banner-content {
    padding: 50px 0;
}
.banner-content .heading-primary {
    font-size: 52px;
}
.banner-image {
    background-image: url(../images/Circle_design.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.banner-image img {
    transform: scale(.9);
    transition: transform .3s ease-in;
}
.banner-wraper:hover .banner-image img {
    transform: scale(1);
}
/* End banner css */

/* Start footer css */
.footer {
    background-color: var(--dark-bg);
}
.footer-waper {
 text-align: center;
 padding: 50px 0;
}
.footer-logo {
    font-size: 24px;
    color: var(--text-white);
    margin-top: 0;
}
.copywrite-text {
    font-size: 14px;
    margin: 0 0 15px;
    color: var(--text-white);
}
.footer-social-icon {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: center;
}
.footer-social-icon li {
    margin: 0 5px;
    list-style: none;
}
.footer-social-icon li a {
    color: var(--text-white);
}
.footer-social-icon li:hover a {
    color: var(--primary-light);
}

/* End footer css */